
/* ABOUT PAGE */
.mainPageLayout{
	display: grid;
	grid-template-areas: 
		"header  header"
		"nav     nav"
		"article aside"
		"footer  footer"
}

/* PORTFOLIO PAGE */
.portfolioPageLayout{
	display: grid;
	grid-template-areas: 
	   "header header"
	   "nav    nav"
	   "main   main"
	   "footer footer"
}

.main{
	grid-area: main;
	padding-left: 100px;
	padding-right: 100px;
}

/* PROJECT PAGE */
.projectIMG{
	border-radius: 30px;
	width: 300px;
	height: auto;
		/*background-repeat: no-repeat;
					background-position: center center;
					/*background-attachment: fixed;*/
					/*background-size: cover;*/
				/*	background-size: contain; */
}

.projectLINKS{
	display: inline-block;
	color: white;
	background-color: gray;
	text-align: center;
	width: 250px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	border-radius: 30px;
}

.projectLINKS:hover{
	color: white;
    background-image: url("../images/bl.png");

}


/* ALL PAGES */
body{
	font-family: 'Roboto', sans-serif;
}

.container{
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	height: 100vh;

}

footer{
	grid-area: footer;
    background-image: url("../images/bl.png");
    height: 100px;
	color: gray;
	font-size: 11px;
	text-align: center;
	line-height: 100px;
}

.subtitle{
	font-family: 'Krona One', sans-serif;
	margin-top: -20px;
	font-size: 11px;
	margin-left: 4px;
}

header{
	grid-area: header;
	background-image: url("../images/bl.png");
	width: auto;
	height: 100px;
	color: white;
	padding: 10px;
}

nav{
	grid-area: nav;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	font-size: 20px;
	background-image: url("../images/bl.png");
}

h1{
	font-family: 'Krona One', sans-serif;
	font-size: 35px;
	font-weight:normal;
}

h2{
	font-family: 'Krona One', sans-serif;
	font-size: 25px;
	font-weight:normal;	
}



ul{
	padding: 0;
    list-style-type: none;

}

.social{
	display: block;
	margin-top: -10px;
	margin-right: 3px;
	margin-bottom: 5px;
	float: right;
}

a{
	text-decoration: none;
	margin-right: 10px;
	color: gray;
}

a:hover{
	color: white;
}

article{
	grid-area: article;
	height: auto;
	padding-left: 100px;
	padding-right: 100px;
}

aside{
	grid-area: aside;
	padding-right: 100px;
}

.socialMenu{
	color: gray;
	font-size: 30px;
}

.repos{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
}

.card{
	color: gray;
	width: 250px;
	height: 300px;
	border-radius: 10px;
    border: 2px solid #f5f5f5;
    margin-bottom: 20px;
}

.card:hover{
	background-image: url("../images/bl.png");
	color: white;

}

.cardText{
	padding-left: 5px;
}

.cardPhoto{
	background-position: cover;
	background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	height: 200px;
}

.bttfHangman{
	background-image: url("../images/BTTF1.jpg");
}

.gameOfThronesRPG{
	background-image: url("../images/got.jpg");
}

.triviaMiami{
	background-image: url("../images/miami.jpg");
}

.gifVillain{
	background-image: url("../images/villain.jpg");
}

.trainSchedule{
	background-image: url("../images/train.jpg");
}

.liribot{
	background-image: url("../images/liribot.png");
}

.findFriends{
	background-image: url("../images/friends.png");
}

.burgulicious{
	background-image: url("../images/burger.png");
}











.spacer{
	margin-top: 50px;
}

.floater{
	float: left;

}

.btn-primary{
	background-color: #cccccc;
	border: none;
}
.btn-primary:hover{
	background-color: gray;
	border: none;
}

.languages{
	font-size: 10px;
}

#spacer{
	
	height: 200px;
}